.header
  .header__logo
    %p グループを作成しました
.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      .chat-side__side-header__box__user-name
        %p user
      %ul.chat-side__side-header__box__menu
        %li.chat-side__side-header__box__menu__new-group
          = link_to "#" do
            = fa_icon 'pencil-square-o'
        %li.chat-side__side-header__box__menu__edit-user
          = link_to "#" do
            = fa_icon 'cog'
  .chat-side__groups
    .chat-side__groups__group
      .chat-side__groups__group__group-name
        %p group-name
      .chat-side__groups__group__latest-message
        %p message
.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__group-name
        %p group-name
      .chat-main__main-header__left-box__group-member
        %p group-member
    .chat-main__main-header__edit-button
      %p Edit
  .chat-main__messages
    .chat-main__messages__message1
      .chat-main__messages__message1__upper-info
        .chat-main__messages__message1__upper-info__talker
          %p user1
        .chat-main__messages__message1__upper-info__date
          %p 2019/09/02(Mon)
      .chat-main__messages__message1__text
        %p こんにちは！
    .chat-main__messages__message2
      .chat-main__messages__message2__upper-info
        .chat-main__messages__message2__upper-info__talker
          %p user2
        .chat-main__messages__message2__upper-info__date
          %p 2019/09/02(Mon)
      .chat-main__messages__message2__text
        %p さようなら！
  .chat-main__form 
    .chat-main__form__new-message
      %form.chat-main__form__new-message__input-box(action="#")
        %input.chat-main__form__new-message__input-box__text{:placeholder => "type a message", :type => "text"}
        %label.chat-main__form__new-message__input-box__text__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.chat-main__form__new-message__input-box__image{:style => "display:none", :type => "file"}/
      %input.chat-main__form__new-message__send-button{:type => "submit", :value => "Send"}/
