.chat-group-users.js-add-user
  #662.chat-group-user.clearfix.js-chat-member
    %input#group_user_ids{:name => "group[user_ids][]", :type => "hidden", :value => "662"}/
    %p.chat-group-user__name user1
  #chat-group-user-132.chat-group-user.clearfix.js-chat-member
    %input{:name => "group[user_ids][]", :type => "hidden", :value => "132"}/
    %p.chat-group-user__name userjhgvfcrtt
    %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除
  #chat-group-user-212.chat-group-user.clearfix.js-chat-member
    %input{:name => "group[user_ids][]", :type => "hidden", :value => "212"}/
    %p.chat-group-user__name ujiie
    %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除
