<div id="user-search-result"><div class="chat-group-user clearfix" id="chat-group-user-3">
                  <p class="chat-group-user__name">user2</p>
                <div class="user-search-add chat-group-user__btn chat-group-user__btn--add" data-user-id="3" data-user-name="user2">追加</div>
              </div></div>

